<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KakeiboApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-dark" style="background-color: #34302c;">
        <div class="container">
            <a class="navbar-brand"><h2 class="logo">KakeiboApp</h2></a>
            <div class="account">
                <ul>
                    <li class="account-link"><img src="/img/user.ico" width="60%"></li>
                    <li class="account-link"><span>ユーザー さん</span></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

        <!-- left side bar -->
        <div class="col sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item"><a class="nav-link active" href="/income_outgo/new">入力</a></li>
                <li class="nav-item"><a class="nav-link" href="/income_outgo/month" th:href="@{/income_outgo/month/{thisMonthPath}(thisMonthPath=${thisMonthPath})}">月別一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="/income_outgo/year" th:href="@{/income_outgo/year/{thisYearPath}(thisYearPath=${thisYearPath})}">年間一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="/category/setting">設定</a></li>
            </ul>
        </div>

        <!-- Main contents -->
        <div class="col">

            <div class="input-form" role="tabpanel" aria-labelledby="outgo-tab">
                <h4>収支の入力</h4>
                <form th:action="@{/income_outgo/new}" th:method="post" th:object="${incomeOutgo}">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">日付</label>
                        <div class="col-sm-6">
                            <p><span class="error-message" th:if="${#fields.hasErrors('*{date}')}" th:errors="*{date}"></span></p>
                            <input type="date" class="form-control" name="date" th:value="*{date}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">収入/支出</label>
                        <div class="col-sm-6">
                            <p><span class="error-message" th:if="${#fields.hasErrors('*{cost}')}" th:errors="*{cost}"></span></p>
                            <input type="number" class="form-control" name="cost" th:field="*{cost}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">カテゴリ</label>
                        <div class="col-sm-6">
                            <p><span class="error-message" th:if="${#fields.hasErrors('*{category_id}')}" th:errors="*{category_id}"></span></p>
                            <select class="custom-select" name="category_id">
                                <option selected disabled>選択してください</option>
                                <option disabled>--支出--</option>
                                <div th:each="category:${categories_outgo}" th:object="${category}">
                                    <option th:value="*{id}" th:text="*{name}" th:selected="(${incomeOutgo.category_id} == *{id})? 'selected'"></option>
                                </div>
                                <option disabled>--収入--</option>
                                <div th:each="category:${categories_income}" th:object="${category}">
                                    <option th:value="*{id}" th:text="*{name}" th:selected="(${incomeOutgo.category_id} == *{id})? 'selected'"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">MEMO</label>
                        <div class="col-sm-6">
                            <p><span class="error-message" th:if="${#fields.hasErrors('*{memo}')}" th:errors="*{memo}"></span></p>
                            <input type="text" class="form-control" name="memo" th:field="*{memo}">
                        </div>
                    </div>
                    <input type="hidden" name="type" value="outgo">
                    <button class="btn btn-primary" type="submit">入力する</button>
                </form>
            </div>

        </div>

    </div>
    </div>

</body>
</html>