<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KakeiboApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
<nav class="navbar navbar-dark" style="background-color: #34302c;">
    <div class="container">
        <a class="navbar-brand"><h2 class="logo">KakeiboApp</h2></a>
        <div class="account">
            <ul>
                <li class="account-link"><img src="/img/user.ico" width="60%"></li>
                <li class="account-link"><span>ユーザー さん</span></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

        <!-- left side bar -->
        <div class="col sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item"><a class="nav-link" href="/income_outgo/new">入力</a></li>
                <li class="nav-item"><a class="nav-link" href="/income_outgo/month" th:href="@{/income_outgo/month/{thisMonthPath}(thisMonthPath=${thisMonthPath})}">月別一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="/income_outgo/year" th:href="@{/income_outgo/year/{thisYearPath}(thisYearPath=${thisYearPath})}">年間一覧</a></li>
                <li class="nav-item"><a class="nav-link active" href="/category/setting">設定</a></li>
            </ul>
        </div>

        <!-- Main contents -->
    <div class="col">
        <div class="setting-header">
            <h2>設定</h2>
        </div>

        <!-- Category Setting (outgo)-->
        <div class="outgo-setting">
            <p>カテゴリの編集</p>
            <form th:action="@{/category/{id}(id=*{id})}" th:method="put" th:object="${category}">
                <p><span class="error-message" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">カテゴリ名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" th:field="*{name}">
                    </div>
                </div>
                <div th:switch="*{type}">
                    <p><span class="error-message" th:if="${#fields.hasErrors('*{type}')}" th:errors="*{type}"></span></p>
                    <div class="form-group row typecheck" th:case="outgo">
                        <div class="col-sm-2">
                            <input type="radio" class="form-check-input" name="type" value="outgo" checked="checked">
                            <label class="form-check-label">支出</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="radio" class="form-check-input" name="type" value="income">
                            <label class="form-check-label">収入</label>
                        </div>
                    </div>
                    <div class="form-group row typecheck" th:case="income">
                        <div class="col-sm-2">
                            <input type="radio" class="form-check-input" name="type" value="outgo">
                            <label class="form-check-label">支出</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="radio" class="form-check-input" name="type" value="income" checked="checked">
                            <label class="form-check-label">収入</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-secondary" type="submit">更新</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>