<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KakeiboApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<!-- header -->
<nav class="navbar navbar-dark" style="background-color: #34302c;">
    <div class="container">
        <a class="navbar-brand"><h2 class="logo">KakeiboApp</h2></a>
        <div class="account">
            <ul>
                <li class="account-link"><img src="/img/user.ico" width="60%"></li>
                <li class="account-link"><span>ユーザー さん</span></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

        <!-- left side bar -->
        <div class="col sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item"><a class="nav-link" href="/new">入力</a></li>
                <li class="nav-item"><a class="nav-link active" href="/month">月別一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="/year">年間一覧</a></li>
                <li class="nav-item"><a class="nav-link" href="/setting">設定</a></li>
            </ul>
        </div>

        <!-- Main contents -->
        <div class="col">

            <div class="month-header">
                <ul>
                    <li><button class="btn btn-outline-secondary">前の月</button></li>
                    <li><h2>2018年12月</h2></li>
                    <li><button class="btn btn-outline-secondary">次の月</button></li>
                </ul>
            </div>

            <!-- income and outgo list -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">登録日</th>
                    <th scope="col">収入/支出</th>
                    <th scope="col">カテゴリ</th>
                    <th scope="col">金額</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>2018/12/05</th>
                    <td>支出</td>
                    <td>食費</td>
                    <td>¥1,000</td>
                    <td>
                        <button class="btn btn-outline-secondary">編集</button>
                        <button class="btn btn-outline-secondary">削除</button>
                    </td>
                </tr>
                <tr>
                    <th>2018/12/05</th>
                    <td>支出</td>
                    <td>医療費</td>
                    <td>¥3,000</td>
                    <td>
                        <button class="btn btn-outline-secondary">編集</button>
                        <button class="btn btn-outline-secondary">削除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="month-pagination">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

</body>
</html>